<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwWVjbOy2VKyEAzz2RWNa67FlyZz2KrzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>59109903605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.obank.simulator.ptv</string>
	<key>PROJECT_ID</key>
	<string>abankobank</string>
	<key>STORAGE_BUCKET</key>
	<string>abankobank.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59109903605:ios:f141f42217a3ac85b509bc</string>
</dict>
</plist>